body {
    background-color: #333; /* dark gray background */
    color: #FFC5C5; /* light red text color */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }