---
interface Props {
  src: string;
  alt?: string;
  size?: string;
}

const { src, alt = "", size = "1.2em" } = Astro.props;
---

<span class="emoji-wrapper">
  <img src={src} alt={alt} class="emoji-img" style={`height: ${size};`} />
</span>

<style>
  .emoji-wrapper {
    display: inline-flex;
    align-items: center;
    height: 1em;
    vertical-align: middle;
    position: relative;
  }

  .emoji-img {
    height: 1.2em;
    width: auto;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    top: -0.1em;
  }
</style>
